In [1]:
import sys
import pandas as pd
import os
import numpy as np

In [2]:
df_roads = pd.read_csv("train/roads_dataset.csv")
df_transport = pd.read_csv("train/routes_dataset.csv")
df_population = pd.read_csv("train/rosstat_population_all_cities.csv")
df_isoch_drive = pd.read_csv("train/isochrones_drive_dataset.csv")
df_isoch_walk = pd.read_csv("train/isochrones_walk_dataset.csv")
df_stops = pd.read_csv("train/osm_stops.csv")
df_companies = pd.read_csv("train/osm_amenity.csv")
df_target = pd.read_csv("train/target_hakaton_spb.csv",encoding='windows-1251',delimiter=';')

In [3]:
df_roads.columns

Index(['osmid', 'highway', 'geometry', 'oneway', 'name', 'city'], dtype='object')

In [4]:
df_roads.head()

,osmid,highway,geometry,oneway,name,city
0,33997807,primary_link,"LINESTRING (30.3314215 59.895094, 30.3311238 5...",False,NaN,Санкт-Петербург
1,201380605,primary,"LINESTRING (30.3314215 59.895094, 30.3318177 5...",True,Лиговский проспект,Санкт-Петербург
2,33997784,primary_link,"LINESTRING (30.3375246 59.8992885, 30.3379026 ...",False,NaN,Санкт-Петербург
3,178581714,primary,"LINESTRING (30.3375246 59.8992885, 30.3372282 ...",True,Лиговский проспект,Санкт-Петербург
4,4459876,primary,"LINESTRING (30.3395524 59.9017314, 30.3398299 ...",True,Воздухоплавательная улица,Санкт-Петербург

In [5]:
df_transport.columns

Index(['geometry', 'type', 'city', 'name'], dtype='object')

In [6]:
df_transport.head()

,geometry,type,city,name
0,"LINESTRING (30.367515 60.012027, 30.367518 60....",tram,Санкт-Петербург,d645920e395fedad7bbbed0eca3fe2e0
1,"LINESTRING (30.231228 60.023206, 30.233159 60....",tram,Санкт-Петербург,b53b3a3d6ab90ce0268229151c9bde11
2,"LINESTRING (30.355657 59.956911, 30.355829 59....",tram,Санкт-Петербург,eccbc87e4b5ce2fe28308fd9f2a7baf3
3,"LINESTRING (30.235013 59.956634, 30.234953 59....",tram,Санкт-Петербург,1679091c5a880faf6fb5e6087eb1b2dc
4,"LINESTRING (30.355545 59.956849, 30.355398 59....",tram,Санкт-Петербург,37693cfc748049e45d87b8c7d8b9aacd

In [7]:

df_population.columns

Index(['geo_h3_10', 'city', 'population', 'lat', 'lon'], dtype='object')

In [8]:

df_population.head()

         geo_h3_10         city  population        lat        lon
0  8a0bb0200907fff  Новосибирск          12  54.942110  83.146356
1  8a0bb0200927fff  Новосибирск           8  54.942144  83.144157
2  8a0bb020092ffff  Новосибирск          28  54.943220  83.145270
3  8a0bb0200937fff  Новосибирск          12  54.941034  83.145243
4  8a0bb0200977fff  Новосибирск          10  54.944296  83.146384

In [9]:
df_isoch_drive.columns

Index(['city', 'driving_15min', 'geo_h3_10', 'lat', 'lon'], dtype='object')

In [10]:
df_isoch_drive.head()

,city,driving_15min,geo_h3_10,lat,lon
0,Новосибирск,"POLYGON ((83.072481 54.981877, 83.066806 54.97...",8a0bb0204027fff,54.935864,83.126481
1,Новосибирск,"POLYGON ((83.073594 54.982958, 83.070066 54.98...",8a0bb020402ffff,54.936940,83.127594
2,Новосибирск,"POLYGON ((83.07162099999999 54.981775, 83.0636...",8a0bb0204067fff,54.939126,83.127621
3,Новосибирск,"POLYGON ((83.080735 54.982584, 83.074735 54.98...",8a0bb020406ffff,54.940202,83.128735
4,Новосибирск,"POLYGON ((83.064256 54.978048, 83.058256 54.97...",8a0bb0204117fff,54.933712,83.124256

In [11]:
df_isoch_walk.columns

Index(['city', 'walk_15min', 'geo_h3_10', 'lat', 'lon'], dtype='object')

In [12]:
df_isoch_walk.head()

,city,walk_15min,geo_h3_10,lat,lon
0,Нижний Новгород,"POLYGON ((43.776762 56.391904, 43.775762 56.39...",8a101601044ffff,56.383627,43.777762
1,Нижний Новгород,"POLYGON ((43.773717 56.39169, 43.772717 56.390...",8a101601045ffff,56.382411,43.777717
2,Нижний Новгород,"POLYGON ((43.773458 56.388816, 43.770682 56.38...",8a10160104cffff,56.380606,43.779458
3,Нижний Новгород,"POLYGON ((43.788412 56.382862, 43.784155 56.38...",8a10160104dffff,56.379391,43.779412
4,Нижний Новгород,"POLYGON ((43.775051 56.391224, 43.773051 56.39...",8a1016010607fff,56.384913,43.785051

In [13]:
df_stops.columns

Index(['osm_id', 'name', 'lat', 'lon', 'type', 'city', 'geo_h3_10'], dtype='object')

In [14]:
df_stops.head()

,osm_id,name,lat,lon,type,city,geo_h3_10
0,192192625,Ж/Д Вокзал,56.856321,60.605703,tram_stop,Екатеринбург,8a10c228a68ffff
1,192192653,Кондукторская,56.859895,60.627218,tram_stop,Екатеринбург,8a10dc924177fff
2,192192654,Учителей,56.857951,60.630261,tram_stop,Екатеринбург,8a10dc92402ffff
3,192196917,Новгородцевой,56.836949,60.680253,tram_stop,Екатеринбург,8a10dc920697fff
4,192196926,Сиреневый бульвар,56.835040,60.685064,tram_stop,Екатеринбург,8a10dc923d17fff

In [15]:
df_companies.columns

Index(['geo_h3_10', 'city', 'Автозапчасти для иномарок',
       'Авторемонт и техобслуживание (СТО)', 'Алкогольные напитки', 'Аптеки',
       'Банки', 'Быстрое питание', 'Доставка готовых блюд', 'Женская одежда',
       'Кафе', 'Косметика / Парфюмерия', 'Ногтевые студии', 'Овощи / Фрукты',
       'Парикмахерские', 'Платёжные терминалы', 'Постаматы',
       'Продуктовые магазины', 'Пункты выдачи интернет-заказов', 'Рестораны',
       'Страхование', 'Супермаркеты', 'Цветы', 'Шиномонтаж', 'lat', 'lon'],
      dtype='object')

In [16]:
df_companies.head()

,geo_h3_10,city,Автозапчасти для иномарок,Авторемонт и техобслуживание (СТО),Алкогольные напитки,Аптеки,Банки,Быстрое питание,Доставка готовых блюд,Женская одежда,...,Постаматы,Продуктовые магазины,Пункты выдачи интернет-заказов,Рестораны,Страхование,Супермаркеты,Цветы,Шиномонтаж,lat,lon
0,8a0bb0200a5ffff,Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,54.953869,83.163008
1,8a0bb0200b37fff,Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,54.948563,83.153038
2,8a0bb0201cd7fff,Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,54.958064,83.174064
3,8a0bb0201d97fff,Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,54.953799,83.167407
4,8a0bb0204027fff,Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.935864,83.126481

In [17]:
df_target.columns

Index(['gorod', 'geo_h3_10', 'lat_h3', 'lon_h3', 'atm_category', 'target',
       'atm_cnt'],
      dtype='object')

In [18]:
df_target.head(600)

,gorod,geo_h3_10,lat_h3,lon_h3,atm_category,target,atm_cnt
0,Екатеринбург,8a10c2283357fff,56.865861,60.532224,category4,95.333333,1
1,Екатеринбург,8a10c2288087fff,56.885391,60.588203,category3,30652.666667,4
2,Екатеринбург,8a10c228820ffff,56.891648,60.605399,category2,1162.166667,1
3,Екатеринбург,8a10c2288adffff,56.895039,60.598777,category1,2961.333333,1
4,Екатеринбург,8a10c228944ffff,56.896206,60.625911,category1,2963.333333,1
...,...,...,...,...,...,...,...
533,Санкт-Петербург,8a1106ab67a7fff,59.983488,30.227538,category1,2535.833333,1
534,Санкт-Петербург,8a1106ab6807fff,59.990519,30.205250,category1,23519.500000,2
535,Санкт-Петербург,8a1106ab6807fff,59.990519,30.205250,category4,94.500000,1
536,Санкт-Петербург,8a1106ab6ae7fff,59.996443,30.219656,category2,489.500000,1
537,Санкт-Петербург,8a1106ab6caffff,59.981250,30.210110,category4,95.666667,1

In [19]:
df_roads.shape

(29471, 6)

In [20]:
df_transport.shape

(1466, 4)

In [21]:
df_population.shape

(34855, 5)

In [22]:
df_isoch_drive.shape

(20623, 5)

In [23]:
df_isoch_walk.shape

(47097, 5)

In [24]:
df_stops.shape

(12316, 7)

In [25]:
df_companies.shape

(24599, 26)

In [26]:
df_target.shape

(538, 7)

In [27]:
frames = [df_roads,
df_transport,
df_population,
df_isoch_drive,
df_isoch_walk,
df_stops,
df_companies,
df_target]

In [28]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [29]:
for frame in frames:
    print(namestr(frame, globals()))
    print(frame.dtypes)
    print('++++++++++++++++++++++++++++++++++++')

['df_roads', 'frame']
osmid        int64
highway     object
geometry    object
oneway        bool
name        object
city        object
dtype: object
++++++++++++++++++++++++++++++++++++
['df_transport', 'frame']
geometry    object
type        object
city        object
name        object
dtype: object
++++++++++++++++++++++++++++++++++++
['df_population', 'frame']
geo_h3_10      object
city           object
population      int64
lat           float64
lon           float64
dtype: object
++++++++++++++++++++++++++++++++++++
['df_isoch_drive', 'frame']
city              object
driving_15min     object
geo_h3_10         object
lat              float64
lon              float64
dtype: object
++++++++++++++++++++++++++++++++++++
['df_isoch_walk', 'frame']
city           object
walk_15min     object
geo_h3_10      object
lat           float64
lon           float64
dtype: object
++++++++++++++++++++++++++++++++++++
['df_stops', 'frame']
osm_id         int64
name          object
lat          float64
lon          float64
type          object
city          object
geo_h3_10     object
dtype: object
++++++++++++++++++++++++++++++++++++
['df_companies', 'frame']
geo_h3_10                              object
city                                   object
Автозапчасти для иномарок             float64
Авторемонт и техобслуживание (СТО)    float64
Алкогольные напитки                   float64
Аптеки                                float64
Банки                                 float64
Быстрое питание                       float64
Доставка готовых блюд                 float64
Женская одежда                        float64
Кафе                                  float64
Косметика / Парфюмерия                float64
Ногтевые студии                       float64
Овощи / Фрукты                        float64
Парикмахерские                        float64
Платёжные терминалы                   float64
Постаматы                             float64
Продуктовые магазины                  float64
Пункты выдачи интернет-заказов        float64
Рестораны                             float64
Страхование                           float64
Супермаркеты                          float64
Цветы                                 float64
Шиномонтаж                            float64
lat                                   float64
lon                                   float64
dtype: object
++++++++++++++++++++++++++++++++++++
['df_target', 'frame']
gorod            object
geo_h3_10        object
lat_h3          float64
lon_h3          float64
atm_category     object
target          float64
atm_cnt           int64
dtype: object
++++++++++++++++++++++++++++++++++++

In [30]:
df_population=df_population.groupby(['geo_h3_10']).sum()

In [31]:
df_target=df_target.groupby(['geo_h3_10']).sum()
df_target=df_target.drop(columns=['lat_h3','lon_h3'])

In [32]:
df_target

                       target  atm_cnt
geo_h3_10
8a0bb020416ffff   9287.533333        1
8a0bb0221297fff  10471.316667        2
8a0bb022221ffff   7163.666667        1
8a0bb022222ffff   1219.966667        2
8a0bb02361a7fff   7372.300000        1
...                       ...      ...
8a1106ab618ffff  10523.666667        1
8a1106ab67a7fff   2535.833333        1
8a1106ab6807fff  23614.000000        3
8a1106ab6ae7fff    489.500000        1
8a1106ab6caffff     95.666667        1

[495 rows x 2 columns]

In [33]:
df_companies=df_companies.fillna(0)

In [34]:
df_companies.head(1000)

,geo_h3_10,city,Автозапчасти для иномарок,Авторемонт и техобслуживание (СТО),Алкогольные напитки,Аптеки,Банки,Быстрое питание,Доставка готовых блюд,Женская одежда,...,Постаматы,Продуктовые магазины,Пункты выдачи интернет-заказов,Рестораны,Страхование,Супермаркеты,Цветы,Шиномонтаж,lat,lon
0,8a0bb0200a5ffff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,54.953869,83.163008
1,8a0bb0200b37fff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,54.948563,83.153038
2,8a0bb0201cd7fff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,54.958064,83.174064
3,8a0bb0201d97fff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,54.953799,83.167407
4,8a0bb0204027fff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.935864,83.126481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8a0bb0329c17fff,Новосибирск,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,54.961843,82.844991
996,8a0bb0329c1ffff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,54.962921,82.846099
997,8a0bb0329c2ffff,Новосибирск,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,54.964059,82.842802
998,8a0bb0329c57fff,Новосибирск,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.965108,82.846112
999,8a0bb0329c77fff,Новосибирск,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,54.965138,82.843909

In [35]:
df_companies=df_companies.groupby(['geo_h3_10']).sum()

In [36]:
df_companies=df_companies.drop(columns=['lat','lon'])

In [37]:
df_companies

,Автозапчасти для иномарок,Авторемонт и техобслуживание (СТО),Алкогольные напитки,Аптеки,Банки,Быстрое питание,Доставка готовых блюд,Женская одежда,Кафе,Косметика / Парфюмерия,...,Парикмахерские,Платёжные терминалы,Постаматы,Продуктовые магазины,Пункты выдачи интернет-заказов,Рестораны,Страхование,Супермаркеты,Цветы,Шиномонтаж
geo_h3_10,,,,,,,,,,,,,,,,,,,,,
8a0bb0200a5ffff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
8a0bb0200b37fff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8a0bb0201cd7fff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8a0bb0201d97fff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
8a0bb0204027fff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8a1106c49667fff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8a1106cc8367fff,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8a1106cc9407fff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8a11154206effff,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8a1115428d27fff,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
df_companies.dtypes

Автозапчасти для иномарок             float64
Авторемонт и техобслуживание (СТО)    float64
Алкогольные напитки                   float64
Аптеки                                float64
Банки                                 float64
Быстрое питание                       float64
Доставка готовых блюд                 float64
Женская одежда                        float64
Кафе                                  float64
Косметика / Парфюмерия                float64
Ногтевые студии                       float64
Овощи / Фрукты                        float64
Парикмахерские                        float64
Платёжные терминалы                   float64
Постаматы                             float64
Продуктовые магазины                  float64
Пункты выдачи интернет-заказов        float64
Рестораны                             float64
Страхование                           float64
Супермаркеты                          float64
Цветы                                 float64
Шиномонтаж                            float64
dtype: object

In [39]:
df_companies['count']=df_companies.sum(axis=1)
print(df_companies)

                 Автозапчасти для иномарок  \
geo_h3_10
8a0bb0200a5ffff                        0.0
8a0bb0200b37fff                        0.0
8a0bb0201cd7fff                        0.0
8a0bb0201d97fff                        0.0
8a0bb0204027fff                        0.0
...                                    ...
8a1106c49667fff                        0.0
8a1106cc8367fff                        0.0
8a1106cc9407fff                        0.0
8a11154206effff                        0.0
8a1115428d27fff                        0.0

                 Авторемонт и техобслуживание (СТО)  Алкогольные напитки  \
geo_h3_10
8a0bb0200a5ffff                                 0.0                  0.0
8a0bb0200b37fff                                 0.0                  0.0
8a0bb0201cd7fff                                 0.0                  0.0
8a0bb0201d97fff                                 0.0                  0.0
8a0bb0204027fff                                 0.0                  0.0
...                                             ...                  ...
8a1106c49667fff                                 0.0                  0.0
8a1106cc8367fff                                 0.0                  0.0
8a1106cc9407fff                                 0.0                  0.0
8a11154206effff                                 2.0                  0.0
8a1115428d27fff                                 0.0                  0.0

                 Аптеки  Банки  Быстрое питание  Доставка готовых блюд  \
geo_h3_10
8a0bb0200a5ffff     0.0    0.0              0.0                    0.0
8a0bb0200b37fff     0.0    0.0              0.0                    0.0
8a0bb0201cd7fff     0.0    0.0              0.0                    0.0
8a0bb0201d97fff     0.0    0.0              0.0                    0.0
8a0bb0204027fff     0.0    0.0              0.0                    0.0
...                 ...    ...              ...                    ...
8a1106c49667fff     0.0    0.0              0.0                    0.0
8a1106cc8367fff     0.0    2.0              0.0                    0.0
8a1106cc9407fff     0.0    0.0              0.0                    0.0
8a11154206effff     0.0    0.0              0.0                    0.0
8a1115428d27fff     0.0    0.0              1.0                    0.0

                 Женская одежда  Кафе  Косметика / Парфюмерия  ...  \
geo_h3_10                                                      ...
8a0bb0200a5ffff             0.0   0.0                     0.0  ...
8a0bb0200b37fff             0.0   0.0                     0.0  ...
8a0bb0201cd7fff             0.0   0.0                     0.0  ...
8a0bb0201d97fff             0.0   0.0                     0.0  ...
8a0bb0204027fff             0.0   0.0                     0.0  ...
...                         ...   ...                     ...  ...
8a1106c49667fff             1.0   0.0                     0.0  ...
8a1106cc8367fff             0.0   0.0                     0.0  ...
8a1106cc9407fff             0.0   0.0                     0.0  ...
8a11154206effff             0.0   0.0                     0.0  ...
8a1115428d27fff             0.0   0.0                     0.0  ...

                 Платёжные терминалы  Постаматы  Продуктовые магазины  \
geo_h3_10
8a0bb0200a5ffff                  1.0        0.0                   2.0
8a0bb0200b37fff                  0.0        0.0                   1.0
8a0bb0201cd7fff                  0.0        0.0                   0.0
8a0bb0201d97fff                  0.0        0.0                   2.0
8a0bb0204027fff                  1.0        0.0                   0.0
...                              ...        ...                   ...
8a1106c49667fff                  0.0        1.0                   1.0
8a1106cc8367fff                  0.0        0.0                   0.0
8a1106cc9407fff                  0.0        0.0                   0.0
8a11154206effff                  0.0        0.0                   0.0
8a1115428d27fff                  0.0        0.0                   0.0

                 Пункты выдачи интернет-заказов  Рестораны  Страхование  \
geo_h3_10
8a0bb0200a5ffff                             0.0        0.0          0.0
8a0bb0200b37fff                             0.0        0.0          0.0
8a0bb0201cd7fff                             0.0        0.0          0.0
8a0bb0201d97fff                             0.0        0.0          0.0
8a0bb0204027fff                             0.0        0.0          0.0
...                                         ...        ...          ...
8a1106c49667fff                             0.0        0.0          0.0
8a1106cc8367fff                             0.0        0.0          0.0
8a1106cc9407fff                             0.0        0.0          1.0
8a11154206effff                             0.0        0.0          0.0
8a1115428d27fff                             0.0        0.0          0.0

                 Супермаркеты  Цветы  Шиномонтаж  count
geo_h3_10
8a0bb0200a5ffff           0.0    0.0         0.0    3.0
8a0bb0200b37fff           0.0    0.0         0.0    1.0
8a0bb0201cd7fff           0.0    0.0         1.0    1.0
8a0bb0201d97fff           0.0    0.0         0.0    2.0
8a0bb0204027fff           0.0    0.0         0.0    1.0
...                       ...    ...         ...    ...
8a1106c49667fff           0.0    1.0         0.0    5.0
8a1106cc8367fff           0.0    0.0         0.0    2.0
8a1106cc9407fff           0.0    0.0         0.0    1.0
8a11154206effff           0.0    0.0         0.0    2.0
8a1115428d27fff           0.0    0.0         0.0    1.0

[24571 rows x 23 columns]

In [40]:
df_companies=df_companies[['count']]
df_companies

                 count
geo_h3_10
8a0bb0200a5ffff    3.0
8a0bb0200b37fff    1.0
8a0bb0201cd7fff    1.0
8a0bb0201d97fff    2.0
8a0bb0204027fff    1.0
...                ...
8a1106c49667fff    5.0
8a1106cc8367fff    2.0
8a1106cc9407fff    1.0
8a11154206effff    2.0
8a1115428d27fff    1.0

[24571 rows x 1 columns]

In [41]:
df_rating1=df_target.merge(df_population,on='geo_h3_10')
df_rating1=df_rating1.drop(columns=['lat','lon'])
df_rating1

                       target  atm_cnt  population
geo_h3_10
8a0bb020416ffff   9287.533333        1         210
8a0bb02361a7fff   7372.300000        1         460
8a0bb0236867fff   1073.833333        1         298
8a0bb02368f7fff  12056.333333        1         720
8a0bb030c107fff    195.000000        1         470
...                       ...      ...         ...
8a1106ab1d9ffff  10166.000000        1         571
8a1106ab225ffff    493.166667        1         778
8a1106ab382ffff   1319.833333        1        1004
8a1106ab44d7fff   1164.316667        1        1193
8a1106ab6017fff  19567.333333        3         965

[197 rows x 3 columns]

In [42]:
df_rating2=df_rating1.merge(df_companies,on='geo_h3_10')

In [43]:
df_rating2

                       target  atm_cnt  population  count
geo_h3_10
8a0bb020416ffff   9287.533333        1         210   31.0
8a0bb02361a7fff   7372.300000        1         460   15.0
8a0bb0236867fff   1073.833333        1         298   25.0
8a0bb02368f7fff  12056.333333        1         720   21.0
8a0bb030c54ffff  13597.500000        1         825   16.0
...                       ...      ...         ...    ...
8a1106ab1c2ffff   3860.000000        1         529    6.0
8a1106ab1d9ffff  10166.000000        1         571   36.0
8a1106ab225ffff    493.166667        1         778    3.0
8a1106ab382ffff   1319.833333        1        1004   11.0
8a1106ab6017fff  19567.333333        3         965   10.0

[182 rows x 4 columns]

In [44]:
df_rating2=df_rating2.sort_values(by=['target','atm_cnt','population'],ascending=[False,True,False])

In [45]:
df_rating2

                       target  atm_cnt  population  count
geo_h3_10
8a0bb0345c17fff  82499.166667        6         672   52.0
8a110614aaeffff  56481.833333        5         393   12.0
8a110605c90ffff  46987.166667        3         941   13.0
8a110602c24ffff  46916.333333        3         295   38.0
8a1106045db7fff  46554.000000        3         329   14.0
...                       ...      ...         ...    ...
8a1106158aeffff     28.383333        1         479    2.0
8a1106a96d57fff     23.483333        1         319    7.0
8a110600dd87fff     23.333333        1         537    4.0
8a1106072087fff      3.333333        1         223   21.0
8a110606592ffff      0.000000        1         292    3.0

[182 rows x 4 columns]

Наилучшие кандидаты:

In [46]:
df_rating2.head(3)

                       target  atm_cnt  population  count
geo_h3_10
8a0bb0345c17fff  82499.166667        6         672   52.0
8a110614aaeffff  56481.833333        5         393   12.0
8a110605c90ffff  46987.166667        3         941   13.0

In [47]:
y=df_rating2['target']
y

geo_h3_10
8a0bb0345c17fff    82499.166667
8a110614aaeffff    56481.833333
8a110605c90ffff    46987.166667
8a110602c24ffff    46916.333333
8a1106045db7fff    46554.000000
                       ...
8a1106158aeffff       28.383333
8a1106a96d57fff       23.483333
8a110600dd87fff       23.333333
8a1106072087fff        3.333333
8a110606592ffff        0.000000
Name: target, Length: 182, dtype: float64

In [48]:
x=df_rating2[['population','atm_cnt', 'count']]
x

                 population  atm_cnt  count
geo_h3_10
8a0bb0345c17fff         672        6   52.0
8a110614aaeffff         393        5   12.0
8a110605c90ffff         941        3   13.0
8a110602c24ffff         295        3   38.0
8a1106045db7fff         329        3   14.0
...                     ...      ...    ...
8a1106158aeffff         479        1    2.0
8a1106a96d57fff         319        1    7.0
8a110600dd87fff         537        1    4.0
8a1106072087fff         223        1   21.0
8a110606592ffff         292        1    3.0

[182 rows x 3 columns]

# Split the dataset in training set and test set

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=0.4)

# Train the model on training set

In [50]:
from sklearn.linear_model import LinearRegression
ml=LinearRegression()
ml.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Evaluate

In [51]:
ml.predict(df_rating2[['population','atm_cnt', 'count']])

array([55211.05612064, 45856.15272242, 24830.9913189 , 24809.71178744,
       25241.74957533, 25603.09004043,  5078.0144565 , 25296.03969314,
       35249.47214092, 55868.13829046, 25099.27347165, 25083.75154838,
       14977.30979513, 25007.98572275, 35655.02199395, 24615.63147071,
       25278.48435681, 25626.96529783, 14958.60632746, 14596.78333083,
       24785.58023446, 25001.84886993, 35507.96647302, 44537.97783246,
       15015.9681487 , 25302.84214576, 35601.47070325, 15217.24056013,
       24841.23161148, 25283.5463056 , 14736.71343032, 14728.98252829,
       25127.47840478, 24871.12732669, 25410.98301754,  4131.62034399,
       14249.75653847,  4030.09885656,  4324.58914304, 24608.84212619,
        4843.81124008, 15324.78905942, 25137.08315716, 35872.40870115,
        4712.68039261,  4234.1068945 , 14408.88958866,  3592.32041198,
        4210.23163709,  5039.35610293,  4449.02082481, 14656.36163339,
        4212.85742264,  4487.71579204,  4798.86957908, 14733.45865863,
        4010.06418929,  4649.1882726 , 14995.89686779,  4887.42170148,
        4032.54157384,  4669.55246275,  3799.85262528,  4324.1066115 ,
        4150.02434838,  4672.28808925,  4748.9391966 ,  4381.02251486,
       14677.39142333,  4564.03737651, 14430.25545553,  4832.57582483,
        4390.03489474, 14533.98687023,  4684.70824949,  3898.03955967,
        4676.01883843,  4497.43693942,  2814.94005976,  4387.62879111,
        4661.16251496,  4509.41118178, 13501.93582453,  4290.76650228,
        4856.37785493,  4594.63530518,  4116.98370243,  4458.41244932,
        4262.09214571,  4568.65996146, 13141.46368965,  4938.12752472,
        4513.58784884,  3800.737907  , 14455.56519945,  4795.50496643,
        4631.9258455 ,  3729.72801283,  4777.10096203,  4164.48447572,
       14529.37739338,  4796.98262064,  4707.69167113,  3704.61444527,
       14930.73747126,  4652.88240813,  4839.85425493,  4807.92512667,
        5020.43295335,  4822.2256913 ,  4379.5383066 ,  5016.14644532,
        4506.85862354,  5072.36013523,  5067.48125471,  4215.59304914,
        4669.6623037 ,  4267.29399506,  4203.39257082,  4617.66189452,
        4616.59354454,  4862.17863082,  4651.62443584,  4845.39873525,
        4354.25862229,  4433.20599231,  4630.93072282,  4680.45180107,
       14907.52781365,  4996.55769594,  4473.37861375,  4025.87902179,
        4606.8357835 ,  4069.56926454,  4899.65223941,  4810.69736683,
        4945.92510001,  4514.06382633,  5013.96657766,  4813.20675737,
        3876.20426936,  4103.89794239,  4378.57324353,  3893.35030146,
        4740.06671728,  4921.3110155 ,  4747.82767892,  3971.22276745,
        4128.88471748,  3202.80122995,  4813.57944794,  4232.43961797,
        4517.17214341,  4164.74077129,  4682.96774566,  4604.31983891,
        4811.50942124,  3871.42867575,  4948.58749921,  4498.10253922,
        4327.28160184,  4327.75757933,  4518.53995667,  4473.11576413,
        4411.17452564,  4844.65990815,  4610.71298729,  4627.12674633,
        4391.03657147,  4472.85946856,  4824.00280878,  4360.9878476 ,
        4370.77566824,  4511.25497252,  4380.01428409,  3561.42302004,
        4117.72252954,  4743.02202571,  4760.39429377,  4664.30089165,
        4561.85750884,  4855.33956455])

In [52]:
ml.predict(df_rating2[['population','atm_cnt', 'count']]).max()

55868.138290464856